<mat-sidenav-container style="margin-right: 9%; margin-left: 9%;">
    <mat-sidenav-content>
        <app-navbar></app-navbar>
        <div class="content">
            <div class="dossier-container" style="display: flex; gap: 20px; flex-direction: row-reverse;">
                
                 <!-- Zone filtre -->
                 
                 <div> 
                  <form [formGroup]="filtreForm" style="display: flex; flex-direction: column; align-items: center;">
                    <div
                      style="
                        border-radius: 16px;
                        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
                        font-family: 'Segoe UI', sans-serif;
                        max-width: 500px;
                        width: 100%;
                        background-color: #fff;
                        border: 1px solid #d1d5db;
                        overflow: hidden;
                      "
                    >
                      <!-- En-tête -->
                      <div
                        style="
                          background-color: #3f51b5;
                          color: white;
                          padding: 16px 24px;
                          font-size: 18px;
                          font-weight: 600;
                          display: flex;
                          align-items: center;
                          gap: 12px;
                          border-radius: 16px 16px 0 0;
                        "
                      >
                      <mat-icon>filter_alt</mat-icon>
                        Filtres de recherche
                      </div>
                
                      <!-- Champs de filtre -->
                      <div
                        style="
                          padding: 24px;
                          background-color: white;
                          display: flex;
                          flex-direction: column;
                          gap: 20px;
                        "
                      >
                        <!-- Champ Date -->
                        <mat-form-field appearance="outline" style="width: 100%; border-radius: 12px; ">
                          <mat-label style="font-weight: 500; color: #3f51b5;">Date de création</mat-label>
                          <input
                            matInput
                            [matDatepicker]="picker"
                            formControlName="date"
                            placeholder="Choisir une date"
                            style="padding: 0px; font-size: 14px;"
                            (dateChange)="applyFilters()"
                          />
                          <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon style="color: #3f51b5;">event</mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        
                
                        <!-- Champ Agent -->
                        <mat-form-field appearance="outline" style="width: 100%;  border-radius: 12px;">
                          <mat-label style="font-weight: 500; color: #3f51b5;">Nom de l'agent</mat-label>
                          <input
                            matInput
                            formControlName="agent"
                            placeholder="Entrez le nom de l'agent"
                            style="padding: 0px; font-size: 14px;"
                            (input)="applyFilters()"
                          />
                          <mat-icon matSuffix style="color: #3f51b5;">person</mat-icon>
                        </mat-form-field>
                        
                      </div>
                    </div>
                  </form>
                </div>
                   
                   
             

                <!-- Liste des images médicales -->
                <mat-card class="card-section" style="flex: 2; overflow-y: auto;">
                    <mat-card-header class="card-header">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <!-- Bouton Retour aligné à gauche -->
                            <mat-card-title>
                              <div style="display: flex; align-items: center;">
                                <mat-icon (click)="retour()" style="cursor: pointer; margin-right: 10px;">arrow_back</mat-icon>
                                <span style="font-size: 24px; font-weight: bold; color: #2c3e50;">Images Médicales</span>
                              </div>
                            </mat-card-title>
                            <span class="spacer"></span>
                            
                        </div>
                    </mat-card-header>

                    <mat-card-content>
                        <div *ngFor="let image of imagesMedicales" class="card-section">
                            <div style="display: flex; align-items: center; flex-wrap: wrap; flex-direction: row-reverse; gap: 15px;">
                                <div style="flex: 1; text-align: left; padding: 0%">
                                    <p style="font-size: 18px; line-height: 1.8; max-width: 900px; margin: 0 auto; font-size: 18px; line-height: 1.8; color: #34495e;">
                                        <strong>Numéro:</strong> {{ image.numero }}<br />
                                        <strong>Date:</strong> {{ image.dateCreation }}<br />
                                        <strong>Agent:</strong> {{ image.agentCreateur }}<br />
                                        <strong>Adresse:</strong> {{ image.adresseCreateur }}<br />
                                        <button mat-icon-button color="primary" matTooltip="Voir l'image" (click)="voirImage(image.image)">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                        <button mat-icon-button color="accent" matTooltip="Télécharger l'image" (click)="downloadImage(image.image, nomPatient, image.numero)">
                                            <mat-icon>download</mat-icon>
                                        </button>
                                    </p>
                                </div>
                                <img [src]="image.image" alt="Image médicale" style="width: 17%; max-width: 17%; height: 40%; border-radius: 8px; object-fit: cover;">
                            </div>
                   
                        </div>

                        <!-- Pagination -->
                        <mat-paginator [length]="imagesMedicales.length" [pageSize]="pageSize" [pageSizeOptions]="[4, 8, 12]"
                            showFirstLastButtons (page)="onPageChanged($event)">
                        </mat-paginator>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
