/* Navbar fixe avec ombre douce */
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 9%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}


/* Logo à gauche */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 48px;
  width: auto;
}

/* Boutons de navigation */
button.mat-button {
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
}

.user-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #3f51b5;
  font-size: medium;
  transition: all 0.3s ease;
}
.active-button .user-button {
  text-decoration: underline; /* Souligner le texte */
  color: #212a5e; /* Changer la couleur du texte */
}
.user-button:hover {
  text-decoration: underline;
}

/* Espace entre éléments */
.spacer {
  flex-grow: 1;
}

/* Conteneur utilisateur (avatar + nom) */
.user-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Image utilisateur */
.user-icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* Nom utilisateur */
.username {
  color: #3f51b5;
  font-size: medium;
}

/* Icône déroulante */
.dropdown-icon {
  color: #3f51b5;
}

/* Padding haut pour éviter chevauchement avec la navbar */
.content {
  margin-top: 64px;
  padding: 16px;
}
