.center{
  text-align: center;
}
.costum-color{
  color: #18b1c5 ;
}
.t-25{
  size: 25px;
}
.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  transition: opacity 0.5s ease;
}
.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}



