<mat-sidenav-container style="margin-right: 9%;margin-left:9%">
  <mat-sidenav-content>
    <app-navbar></app-navbar>
    <div class="content">


      <div class="dossier-container" style="display: flex; gap: 20px; flex-direction: row-reverse;">

        <!-- ✅ Liste des dossiers -->
        <div class="dossiers-list" style="flex: 2; overflow-y: auto;">
          <mat-card-header>
            <mat-card-title>
              <h2 style="
              font-size: 26px;
              font-weight: 600;
              color: #2C3E50;
              display: flex;
              align-items: center;
              gap: 10px;
            ">
                <mat-icon style="color: #3f51b5">folder_shared</mat-icon>
                Dossier Médical
              </h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let dossier of dossiersFiltres">
              <div class="dossier">
                <b class="costum-color2"></b>
                <p style="
  font-size: 14px;
  color: #607D8B;
  margin-top: 4px;
  margin-left: 36px;
"> Crée le: <span style="font-weight: 500;">{{ dossier.dossier.dateCreation | date: 'dd/MM/yyyy' }}</span></p>

                <br />

                <!-- ✅ Statistiques médicales résumées -->
                <div style="display: flex; justify-content: space-between; gap: 20px; margin-bottom: 30px;">
                  <!-- Carte 1 -->
                  <mat-card
                    style="flex: 1; padding: 20px; border-radius: 15px; display: flex; flex-direction: row; align-items: center; text-align: left; gap: 15px;">

                    <!-- Image à gauche -->
                    <img src="../../assets/images/blood_pressure.png" alt="Blood Pressure Icon"
                      style="width: 60px; height: 60px;" />

                    <!-- Texte à droite de l’image -->
                    <div style="display: flex; flex-direction: column;">
                      <p style="font-weight: bold; color: #2c3e50; margin: 0;">Blood Pressure</p>
                      <p style="font-size: 14px; color: #2c3e50; margin: 0;">
                        <mat-icon style="vertical-align: middle;">trending_down</mat-icon> 10% Less Than Last Month
                      </p>
                    </div>
                  </mat-card>


                  <!-- Carte 2 -->
                  <mat-card
                    style="flex: 1; padding: 20px; border-radius: 15px; display: flex; flex-direction: row; align-items: center; text-align: left; gap: 15px;">

                    <!-- Image -->
                    <img src="../../assets/images/glucos_level.png" alt="Glucose Level Icon"
                      style="width: 60px; height: 60px;" />

                    <!-- Texte -->
                    <div style="display: flex; flex-direction: column;">
                      <p style="font-weight: bold; color: #2c3e50; margin: 0;">Glucose Level</p>
                      <p style="font-size: 14px; color: #2c3e50; margin: 0;">
                        <mat-icon style="vertical-align: middle;">trending_up</mat-icon> 12% Higher Than Last Month
                      </p>
                    </div>
                  </mat-card>
                  <!-- Carte 3 -->
                  <mat-card
                    style="flex: 1; padding: 20px; border-radius: 15px; display: flex; flex-direction: row; align-items: center; text-align: left; gap: 15px;">

                    <!-- Image -->
                    <img src="../../assets/images/blood_count.png" alt="Blood Count Icon"
                      style="width: 60px; height: 60px;" />

                    <!-- Texte -->
                    <div style="display: flex; flex-direction: column;">
                      <p style="font-weight: bold; color: #2c3e50; margin: 0;">Blood Count</p>
                      <p style="font-size: 14px; color: #2c3e50; margin: 0;">
                        <mat-icon style="vertical-align: middle;">trending_up</mat-icon> 5% Higher Than Last Month
                      </p>
                    </div>
                  </mat-card>
                </div>

                <!-- ✅ Fiches de soin -->
                <mat-card-title>
                  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <p class="section-title" style="display: flex; align-items: center; margin: 0;">
                      <mat-icon style="color: #3f51b5; margin-right: 8px;">description</mat-icon>
                      Fiches de soin
                    </p>
                    <button mat-flat-button color="primary" (click)="voirFiches(dossier)" style="font-size: 14px;margin-right: 27px;">
                      Voir plus
                    </button>
                  </div>
                </mat-card-title>
                

                <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                  <div *ngFor="let fiche of dossier.ficheSoin | slice: -4" class="fiche-card-container">
                    <mat-card class="fiche-card">
                      <img src="../../assets/images/ficheSoin.png" class="fiche-image">
                      <div class="fiche-details">
                        <p class="fiche-info">
                          <strong>Numéro:</strong> {{ fiche.numero }}<br />
                          <strong>Date:</strong> {{ fiche.dateCreation }}<br />
                          <strong>Agent:</strong> {{ fiche.agentCreateur }}<br />
                          <strong>Adresse:</strong> {{ fiche.adresseCreateur }}<br />
                        </p>
                        <div class="fiche-actions">
                          <button mat-icon-button color="primary" matTooltip="Voir la fiche" (click)="voirPlus(fiche)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" matTooltip="Télécharger la fiche"
                            (click)="telechargerDonneesFiche(fiche,nomPatient)">
                            <mat-icon>download</mat-icon>
                          </button>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </div>



                <mat-divider></mat-divider><br />

                <!-- ✅ Images médicales -->
                <mat-card-title>
                  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                  <p style="font-size: 24px; font-weight: bold; margin: 10px 0; color: #2c3e50;">
                    <mat-icon style="color: #3f51b5;">image</mat-icon> Images médicales
                  </p>
                  <div style="display: flex; justify-content: flex-end;">
                    <button mat-flat-button color="primary" (click)="voirImages(dossier)" style="font-size: 14px;margin-right: 27px;">
                      Voir plus
                    </button>
                  </div>
                  </div>
                </mat-card-title><br />

                <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                  <div *ngFor="let img of dossier.imageMedicale | slice: -4" class="image-card-container">
                    <mat-card class="image-card"
                      style="display: flex; flex-direction: row; gap: 15px; padding: 16px; background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                      
                      <img [src]="img.image" alt="Image médicale"
                        style="width: 30%; max-width: 30%; height: 40%; border-radius: 8px; object-fit: cover;">
                      <div style="flex: 1; text-align: left; padding: 0 10px;">
                        <p style="font-size: 18px; line-height: 1.8; color: #34495e;">
                          <strong>Numéro:</strong> {{ img.numero }}<br />
                          <strong>Date:</strong> {{ img.dateCreation }}<br />
                          <strong>Agent:</strong> {{ img.agentCreateur }}<br />
                          <strong>Adresse:</strong> {{ img.adresseCreateur }}<br />
                        </p>

                        <div style="display: flex; justify-content: flex-start; gap: 10px;">
                          <button mat-icon-button color="primary" matTooltip="Voir l'image"
                            (click)="voirImage(img.image)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" matTooltip="Télécharger l'image"
                            (click)="downloadImage(img.image, nomPatient, img.numero)">
                            <mat-icon>download</mat-icon>
                          </button>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </div>


              

                <mat-divider></mat-divider>

                <!-- ✅ Analyses médicales -->
                <mat-card-title>
                  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                  <p style="font-size: 24px; font-weight: bold; margin: 10px 0; color: #2c3e50;"><mat-icon
                      style="color: #3f51b5;">science</mat-icon>
                    Analyses médicales</p>
                    <div style="display: flex; justify-content: flex-end;">
                      <button mat-flat-button color="primary" (click)="voirAnalyses(dossier)" style="font-size: 14px;margin-right: 27px;">
                        Voir plus
                      </button>
                    </div>
                  </div>  
                </mat-card-title><br />

                <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                  <div *ngFor="let analyse of dossier.analyseMedicale | slice: -4" class="analyse-card-container">
                    <mat-card class="analyse-card"
                      style="display: flex; flex-direction: row; gap: 15px; padding: 16px;">
                      <img [src]="analyse.fichier" alt="Analyse médicale"
                        style="width: 30%; max-width: 30%; height: 40%; border-radius: 8px;">
                      <div style="flex: 1; text-align: left;">
                        <p style="font-size: 18px; line-height: 1.8; color: #34495e;">
                          <strong>Numéro:</strong> {{ analyse.numero }}<br />
                          <strong>Date: </strong>{{ analyse.dateCreation }}<br />
                          <strong>Agent: </strong>{{ analyse.agentCreateur }}<br />
                          <strong>Adresse: </strong>{{ analyse.adresseCreateur }}<br />
                          <button mat-icon-button color="primary" matTooltip="Voir l'analyse"
                            (click)="voirImage(analyse.fichier)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" matTooltip="Télécharger l'analyse"
                            (click)="downloadAnalyse(analyse.fichier, nomPatient, analyse.numero)">
                            <mat-icon>download</mat-icon>
                          </button>
                        </p>
                      </div>
                    </mat-card>
                  </div>
                </div>

                
              </div>
            </div>
          </mat-card-content>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>