<mat-sidenav-container style="background-color: #f5f7fa; padding-top:78px">
  <mat-sidenav-content>
    <app-navbar></app-navbar>

    <div class="dashboard-container">
      <!-- File d'attente des patients -->
      <div class="patient-queue">
        <div class="section-header">
          <h3 class="section-title">Liste des patients</h3>

          <!-- Bouton pour afficher/masquer les filtres -->
          <button mat-icon-button (click)="showFilters = !showFilters" aria-label="Filtrer">
            <mat-icon>filter_alt</mat-icon>
          </button>
        </div>

        <!-- Filtres visibles uniquement si showFilters est true -->
        <div class="filters" *ngIf="showFilters">
          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Filtrer par Nom, Numéro ou Date</mat-label>
            <input matInput [(ngModel)]="filterValue" (input)="applyFilters()">
          </mat-form-field>
        </div>

        <!-- Liste des patients -->
        <div class="patient-card" *ngFor="let patient of dataSource"
        [class.selected]="patient.id === selectedPatient?.id"
        (click)="voirDossier(patient,true)">
          <div class="card-left">
            <img src="assets/images/avatarH.png" alt="Avatar" class="avatar" *ngIf="patient.sexe == 'Homme'" />
            <img src="assets/images/avatarF.png" alt="Avatar" class="avatar" *ngIf="patient.sexe == 'Femme'" />
          </div>
          <div class="info">
            <h4>{{ patient.fullName }}</h4>
            <p><b>N°</b> {{ formatPatientNumero(patient.numero) }}</p>
            <p><b>Crée le</b> {{ patient.dateCreation | date }}</p>
          </div>
          <button mat-icon-button>
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
        <mat-paginator [length]="dataSourceOriginal.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"  (page)="onPageChange($event)">
        </mat-paginator>

      </div>

      <!-- Détails du patient sélectionné -->
      <div class="patient-details" *ngIf="selectedPatient">
        <mat-card class="card-section">
          <div class="card-header">
            <img src="assets/images/avatarH.png" alt="Avatar" class="avatar" *ngIf="selectedPatient.sexe == 'Homme'" />
            <img src="assets/images/avatarF.png" alt="Avatar" class="avatar" *ngIf="selectedPatient.sexe == 'Femme'" />
            <div class="info">
              <h4>{{ selectedPatient.fullName }}</h4>
              <p><b>N°</b> {{ formatPatientNumero(selectedPatient.numero) }}</p>
              <p><b>Crée le</b> {{ selectedPatient.dateCreation | date }}</p>
            </div>
          </div>

          <mat-card-content style="padding-left:0%;padding-right:0%;">
            <div class="row">
              <div class="col-6">
                <div class="info-card">
                  <div class="section-title">Informations de base</div>
                  <div class="info-grid">
                    <div><mat-icon>person</mat-icon> <strong>Genre:</strong> {{ selectedPatient.sexe }}</div>
                    <div><mat-icon>cake</mat-icon> <strong>Naissance:</strong> {{ selectedPatient.dateNaissance }}</div>
                    <div><mat-icon>phone</mat-icon> <strong>Téléphone:</strong> {{ selectedPatient.phone }}</div>
                    <div><mat-icon>email</mat-icon> <strong>Email:</strong> {{ selectedPatient.email }}</div>
                    <div><mat-icon>maps_home_work</mat-icon> <strong>Adresse:</strong> {{ selectedPatient.adresse }}</div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="info-card">
                  <div class="section-title">Pour accéder aux informations médicales de ce patient merci de saisir le code confidentiel</div>
                  <div class="info-grid" style="text-align: center;">
                    <form [formGroup]="codeForm" (ngSubmit)="validerCode()">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Code confidentiel</mat-label>
                        <input matInput type="password" formControlName="code">
                      </mat-form-field>
                      <div class="form-actions">
                        <button mat-flat-button color="accent" type="submit">Valider</button>
                        <div *ngIf="codeInvalide" class="error-message" style="color: red; margin-top: 10px;">
                          Code incorrect. Veuillez réessayer.
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sections visibles en fonction du rôle -->
            <br *ngIf="roleAcces === 'Medecin'" />
            <div *ngIf="roleAcces === 'Medecin'">
              <div class="info-card">
                <div class="section-header">
                  <div class="section-title"><mat-icon color="primary">medical_services</mat-icon> Fiches de soin</div>
                  <button mat-icon-button color="primary" matTooltip="Ajouter fiche" (click)="openAddFicheDialog(selectedPatient.id)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>

                <div *ngIf="ficheSoins.length===0" style="text-align: center;">Aucune fiche de soin...</div>
                <div class="image-grid">
                  <div class="image-box" *ngFor="let fiche of ficheSoins.slice(0, 4)">
                    <img src="assets/images/fiche.png" alt="fiche soin" class="image-preview" />
                    <div class="overlay">
                      <mat-icon class="edit-icon" (click)="openEditFiche(fiche.key,fiche)">edit</mat-icon>
                      <mat-icon class="delete-icon" (click)="deleteFiche(fiche.key)">delete</mat-icon>
                      <mat-icon class="eye-icon" (click)="voirFiche(fiche)">visibility</mat-icon>
                      <mat-icon class="download-icon" (click)="telechargerFichePDF(fiche,selectedPatient.fullName)"> download</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br *ngIf="(roleAcces === 'Medecin' || roleAcces === 'Radiologue')" />
            <div *ngIf="(roleAcces === 'Medecin' || roleAcces === 'Radiologue')">
              <div class="info-card">
                <div class="section-header">
                  <div class="section-title"><mat-icon color="primary">image</mat-icon> Images médicales</div>
                  <button *ngIf="roleAcces === 'Radiologue'" mat-icon-button color="primary" matTooltip="Ajouter image" (click)="openAddImage(selectedPatient.id)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div *ngIf="images.length===0" style="text-align: center;">Aucune image médicale...</div>
                <div class="image-grid">
                  <div class="image-box" *ngFor="let image of images.slice(0, 4)">
                    <img [src]="image.image" alt="Image médicale" class="image-preview" />
                    <div class="overlay">
                      <mat-icon class="edit-icon" (click)="openEditImage(image.key,image)" *ngIf="roleAcces === 'Radiologue'">edit</mat-icon>
                      <mat-icon class="delete-icon" (click)="deleteImage(image.key)" *ngIf="roleAcces === 'Radiologue'">delete</mat-icon>
                      <mat-icon class="eye-icon" (click)="openImageModal(image)">visibility</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br *ngIf=" (roleAcces === 'Medecin' || roleAcces === 'Analyste')" />
            <div *ngIf="(roleAcces === 'Medecin' || roleAcces === 'Analyste')">
              <div class="info-card">
                <div class="section-header">
                  <div class="section-title"><mat-icon color="primary">science</mat-icon> Analyses médicales</div>
                  <button *ngIf="roleAcces === 'Analyste'" mat-icon-button color="primary" matTooltip="Ajouter analyse" (click)="openAddAnalyse(selectedPatient.id)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div *ngIf="analyses.length===0" style="text-align: center;">Aucune image médicale...</div>
                <div class="image-grid">
                  <div class="image-box" *ngFor="let analyse of analyses.slice(0, 4)">
                    <img src="assets/images/analyseMedicale.png" alt="Fichier analyse" class="image-preview" />
                    <div class="overlay">
                      <mat-icon class="edit-icon" (click)="openEditAnalyse(analyse.key,analyse)" *ngIf="roleAcces === 'Analyste'">edit</mat-icon>
                      <mat-icon class="delete-icon" (click)="deleteAnalyse(analyse.key)" *ngIf="roleAcces === 'Analyste'">delete</mat-icon>
                      <mat-icon class="eye-icon" (click)="openAnalyseModal(analyse)">visibility</mat-icon>
                      <mat-icon class="download-icon" (click)="telechargerPDF(analyse.fichier,selectedPatient.fullName)">
                        download
                      </mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modal Image -->
<ng-template [ngIf]="isImageModalOpen">
  <div class="modal-backdrop" (click)="closeImageModal()"></div>
  <div class="image-modal" style="color: #212a5e;">
    <button class="close-btn" (click)="closeImageModal()">
      <mat-icon>close</mat-icon>
    </button>
    <img [src]="selectedImage.image" class="modal-image" alt="Image" />
    <div class="modal-info">
      <p><mat-icon color="primary">confirmation_number</mat-icon> <strong>Numéro :</strong> {{ selectedImage.numero }}</p>
      <p><mat-icon color="primary">calendar_today</mat-icon> <strong>Date création :</strong> {{ selectedImage.dateCreation }}</p>
      <p><mat-icon color="primary">person</mat-icon> <strong>Agent créateur :</strong> {{ selectedImage.agentCreateur }}</p>
      <p><mat-icon color="primary">place</mat-icon> <strong>Adresse créateur :</strong> {{ selectedImage.adresseCreateur }}</p>
    </div>
  </div>
</ng-template>

<!-- Modal Analyse -->
<ng-template [ngIf]="isAnalyseModalOpen">
  <div class="modal-backdrop" (click)="closeAnalyseModal()"></div>
  <div class="image-modal" style="color: #212a5e;">
    <button class="close-btn" (click)="closeAnalyseModal()">
      <mat-icon>close</mat-icon>
    </button>
    <img src="assets/images/analyseMedicale.png" class="modal-image" alt="Analyse" />
    <div class="modal-info">
      <p><mat-icon color="primary">confirmation_number</mat-icon> <strong>Numéro :</strong> {{ selectedAnalyse.numero }}</p>
      <p><mat-icon color="primary">calendar_today</mat-icon> <strong>Date création :</strong> {{ selectedAnalyse.dateCreation }}</p>
      <p><mat-icon color="primary">person</mat-icon> <strong>Agent créateur :</strong> {{ selectedAnalyse.agentCreateur }}</p>
      <p><mat-icon color="primary">place</mat-icon> <strong>Adresse créateur :</strong> {{ selectedAnalyse.adresseCreateur }}</p>
    </div>
  </div>
</ng-template>

<!-- Modal Fiche -->
<ng-template [ngIf]="isFicheModalOpen">
  <div class="modal-backdrop" (click)="closeFicheModal()"></div>
  <div class="fiche-modal" style="color: #212a5e;">
    <button class="close-btn" (click)="closeFicheModal()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 style="color: #212a5e;">Détails de la fiche de soin</h2>

    <div class="modal-info">
      <p><mat-icon color="primary">confirmation_number</mat-icon> <strong>Numéro :</strong> {{ selectedFiche?.numero }}</p>
      <p><mat-icon color="primary">calendar_today</mat-icon> <strong>Date de création :</strong> {{ selectedFiche?.dateCreation }}</p>
      <p><mat-icon color="primary">person</mat-icon> <strong>Agent créateur :</strong> {{ selectedFiche?.agentCreateur }}</p>
      <p><mat-icon color="primary">place</mat-icon> <strong>Adresse créateur :</strong> {{ selectedFiche?.adresseCreateur }}</p>
    </div>

    <div class="section-title" style="padding-top: 1%;">Lignes de la fiche</div>

    <div *ngIf="selectedFiche?.lignes?.length; else noLigne">
      <table mat-table [dataSource]="selectedFiche.lignes" class="mat-elevation-z1 custom-mat-table">

        <!-- Nom Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let ligne"> {{ ligne.nom }} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let ligne"> {{ ligne.type }} </td>
        </ng-container>

        <!-- Date d'ajout Column -->
        <ng-container matColumnDef="dateAjout">
          <th mat-header-cell *matHeaderCellDef> Date d'ajout </th>
          <td mat-cell *matCellDef="let ligne"> {{ ligne.dateAjout }} </td>
        </ng-container>

        <!-- Contenu Column -->
        <ng-container matColumnDef="contenu">
          <th mat-header-cell *matHeaderCellDef> Contenu </th>
          <td mat-cell *matCellDef="let ligne"> {{ ligne.contenu }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>

    <ng-template #noLigne>
      <div style="text-align: center;">Aucune ligne disponible pour cette fiche de soin.</div>
    </ng-template>
  </div>
</ng-template>