<mat-sidenav-container style="background-color: #f5f7fa; padding-top:78px">
  <mat-sidenav-content>
    <app-navbar></app-navbar>

    <div class="dashboard-container">
      <div class="patient-queue">
        <div class="section-header">
          <h3 class="section-title">Liste des patients</h3>
          <mat-form-field class="global-search" appearance="outline">
            <mat-label>Rechercher</mat-label>
            <input matInput placeholder="Nom, numéro ou date" [(ngModel)]="searchTerm" (input)="applyFilters()" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div class="patient-list">
          <!-- Utilisation de la pagination manuelle -->
          <div class="patient-card" *ngFor="let patient of pagedPatients" (click)="voirDossier(patient)">
            <div class="card-left">
              <img src="assets/images/avatarH.png" alt="Avatar" class="avatar" *ngIf="patient.sexe=='Homme'" />
              <img src="assets/images/avatarF.png" alt="Avatar" class="avatar" *ngIf="patient.sexe=='Femme'" />
            </div>
            <div class="info">
              <h4>{{ patient.fullName }}</h4>
              <p><b>N°</b> {{ formatPatientNumero(patient.numero) }}</p>
              <p><b>Crée le</b> {{ patient.dateCreation | date }}</p>
            </div>
            <button mat-icon-button>
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>

        <!-- Paginator -->
        <mat-paginator [length]="dataSource.data.length"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

