<div class="modal-backdrop"></div>
<div class="fiche-modal" style="color: #212a5e;">
  <button class="close-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <h2 style="color: #212a5e;">Nouvelle fiche de soin</h2>


  <form [formGroup]="ficheForm">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-icon matPrefix color="primary">confirmation_number</mat-icon>
        <mat-label>Numéro fiche</mat-label>
        <input matInput formControlName="numero" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-icon matPrefix color="primary">person</mat-icon>
        <mat-label>Agent créateur</mat-label>
        <input matInput formControlName="agentCreateur" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-icon matPrefix color="primary">place</mat-icon>
        <mat-label>Adresse créateur</mat-label>
        <input matInput formControlName="adresseCreateur" required>
      </mat-form-field>
    </div>

    <div class="section-header">
      <div class="section-title">Lignes de la fiche</div>
      <button mat-icon-button color="primary" (click)="ajouterLigne()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div formArrayName="lignesFiche">
      <div *ngFor="let ligne of lignesFiche.controls; let i = index" [formGroupName]="i" class="ligne-row">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <input matInput formControlName="type">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput type="date" formControlName="dateAjout">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contenu</mat-label>
          <input matInput formControlName="contenu">
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="retirerLigne(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="cancelFicheForm()">Annuler</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="true" (click)="ajouterFicheSoin()">Ajouter</button>
  </mat-dialog-actions>


</div>
