<mat-card class="main-card">
    <mat-card-title>Détails du patient</mat-card-title>
    <mat-card-content>
      <form class="patient-details-form">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput [value]="patient?.firstName" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput [value]="patient?.lastName" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>CIN</mat-label>
          <input matInput [value]="patient?.cin" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [value]="patient?.email" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput [value]="patient?.phone" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Date de naissance</mat-label>
          <input matInput [value]="patient?.dateNaissance" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Sexe</mat-label>
          <input matInput [value]="patient?.sexe" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput [value]="patient?.adresse" readonly>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="dossier-card">
    <mat-card-title>
      <mat-icon color="primary">inventory_2</mat-icon>
      Dossier Médical
    </mat-card-title>
    <mat-card-content>
      <p>
        Pour accéder aux informations médicales de ce patient, saisissez le <strong>code confidentiel</strong>
        ou scannez son <strong>QR code</strong>.
      </p>
  
      <form (ngSubmit)="validerCode()" #codeForm="ngForm" class="form-code">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Code confidentiel</mat-label>
          <input matInput [(ngModel)]="codeConfidentiel" name="codeConfidentiel" required />
        </mat-form-field>
  
        <button mat-raised-button color="primary" [disabled]="!codeForm.valid">
          Valider
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  
<style>
    .dossier-section-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.dossier-section {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  color: black;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.input-centered {
  width: 100%;
}

.btn-centered {
  margin-top: 20px;
  color: white;
  border-radius: 6px;
}

.btn-centered:disabled {
  background-color: rgb(193, 193, 193);
}

</style>