/* Navbar en haut de la page, fixe et avec transitions */
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 50px;
  width: auto;
}

/* Boutons de navigation */
button.mat-button {
  text-transform: none;
}

/* Contenu du bouton */
.user-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: medium;
  transition: all 0.3s ease; /* Pour lisser le changement */
}

/* Spacer pour pousser les éléments à droite */
.spacer {
  flex-grow: 1;
}

/* Classe pour l'élément actif : sous-lignement du texte et changement de couleur */
.active-button .user-button {
  text-decoration: underline; /* Souligner le texte */
  color: #212a5e; /* Changer la couleur du texte */
}

/* Styles de la barre transparente */
.toolbar-transparent {
  background-color: transparent !important;
  color: #3f51b5 !important;
  box-shadow: none !important;
}

/* Styles de la barre avec fond blanc */
.toolbar-white {
  background: white !important;
  color: #3f51b5 !important;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Ajustement du contenu pour éviter qu'il soit caché sous la navbar */
.content {
  margin-top: 64px; /* Ajuste selon la hauteur de la navbar */
  padding: 16px;
}
